.upper{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: flex-end;
    gap: 2rem; 
    padding: 1rem;
}

.upper span{
    font-size: 1.3vmax;}
.dashboardLayout{
    display: flex;
}

.dashboardLayout main{
    width: 100%;
}

.onboard .upper{
    justify-content: space-between;
}