.profile{
    max-height : 100%;
    width : 100%;
}

.profilePicture{
    width: 20vw;
    /* overflow: hidden; */
    position: relative;
}

.profilePicture img{
    height: 100%;
    width: 100%;
    border-radius: 50%;

}

.profilePicture span{
    position: absolute;
    bottom: -5%; 
    right: 20%;
    border-radius: 50%;
    cursor: pointer;
    height: 3vw;
    width: 3vw;
    padding: 0.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2vw;
}

.profilePicture span:hover{
    filter: brightness(1.15);
    transform: scale(1.05); 
}

.profile-upper{
    display: flex;
    justify-content: space-evenly;
    /* align-items: center; */
    padding: 1.5rem 1rem;
    border: 1px solid rgb(0, 132, 255);
    border-radius: 5px;
}   

.profile-upper-right{
    max-width: 40vw;
    line-height: 1.5vmax;
    overflow-wrap: break-word;
    padding: 0.2rem;
}

.profile-upper-right p,.profile-upper-right span, .profile-upper-right b{
    font-size: 1vmax;
    margin: 0;
}