.Services{
    padding: 20px 0px;
    background-color: #fff;
}
.Services p{
    font-size: 3vmin
}

.p-title{
    padding: 3px 8px;
    border-radius: 50px;
    background-color: #c5c2c2;
    border: 1px solid #444;
    width: fit-content;
    margin: 20px auto !important;
    font-size: 12px !important;
}
.cards{
    display: flex;
    gap: 20px;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: start;
}
.cardS{
    height: 200px;
    width: 300px;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
     box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.cardS .image{
    height: 200px;
    width: 300px;
    overflow: hidden;
}



.title{
    position: absolute;
    bottom: -200px;
    left: 0;
    height: 200px;
    width: 300px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: all 0.3s ease-in;
    backdrop-filter: blur(5px);
}

.title h4{
    font-weight: 700;
    font-size: 20px;
}

.title p{
    font-size: 15px;
    color: #c5c2c2;
}

.title button{
    cursor: pointer;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: rgb(168, 168, 221);
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    border: none;
    outline: none;
    transition: all 0.3s ease;
}

.title button:hover{
    transform: rotate(45deg) scale(1.05);
}

.cardS:hover .title{
    bottom: 0;
    left: 0;
    text-align: center;
}

.image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.hiring{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.hiring .box{
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    color: #374151;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
    cursor: alias;
}

.hiring .box:hover{
    transform: scale(1.02);
}

.box h2{
    font-size: 15px;
}

.box p{
    font-size: 12px;
    text-align: center;
}


.light-blue{
    background-color: #e0f2fe;
}
.light-green{
    background-color: #dcfce7;
}
.light-yellow{
    background-color: #fef9c3;
}
.light-purple{
    background-color: #fff3f3;
}

.box span{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 700;
    color: red;
}